<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoreCompat.Portable.Licensing" version="1.2.4" targetFramework="net48" />
  <package id="Gradient.Runtime" version="0.4.4" targetFramework="net48" />
  <package id="IndexRange" version="1.0.0" targetFramework="net48" />
  <package id="JetBrains.Annotations" version="2020.1.0" targetFramework="net48" />
  <package id="LostTech.Cloud.InstanceInfo" version="0.1.1" targetFramework="net48" />
  <package id="LostTech.NumPy" version="0.2.2" targetFramework="net48" />
  <package id="LostTech.Python.Runtime" version="3.0.4" targetFramework="net48" />
  <package id="LostTech.TensorFlow" version="1.15.0" targetFramework="net48" />
  <package id="LostTech.TensorFlow.GPT" version="0.1.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net48" />
  <package id="morelinq" version="3.3.2" targetFramework="net48" />
  <package id="Nito.Comparers.Core" version="6.0.0" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections" version="4.3.0" targetFramework="net48" />
  <package id="System.DirectoryServices" version="4.7.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net48" />
  <package id="System.Speech" version="9.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="WhichPython" version="0.3.3" targetFramework="net48" />
</packages>